package {
    name "opengles" 
    author "Brendan Hansen" 
    url "git://onyxlang.io/repo/opengles" 
    description "OpenGL ES 3 bindings for Onyx (incomplete)" 
    version "0.0.11" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

native {
    library "onyx_opengles" 
    build "onyx run --generate-foreign-info build.onyx" 
}

